day_01/asset/*.png
day_01/asset/*.jpeg
day_01/asset/dump_video.mp4

deep_learning_huflit_main.pdf

indoor_cvpr
indoor_CVPR_dataset

day_08/Car_Segmentation/data
day_08/data

day_09/Object_Localization_1/dataset